@import url('https://fonts.googleapis.com/css?family=Arvo00,700|Oswald:700');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@100;300;400&display=swap');

html {

    height: 3370px;

}

#fernandonury00 {

    width: 250px;

    margin-left: 4.2%;
    margin-top: 4.2%;

}

#cupido {

    width: 50px;

    margin-left: 80%;
    margin-top: -320px;

    display: block;

}

#linha00 {

    background-color: black;

    width: 1.5px;
    height: 150px;

    margin-left: 4.2%;

    position: absolute;
    top: 300px;

}

#tit00 {

    color: black;

    font-family: 'Oswald', sans-serif;
    font-size: 15pt;

    text-transform: uppercase; 

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%; 
    margin-top: -45px;

}

#txt00 {

    font-family: 'Truculenta', sans-serif;

    text-align: justify;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%;

}

#fernandonury01 {

    width: 250px;

    width: 80%;

    max-width: 400px;

    margin-left: 11.5%;

    position: absolute;
    top: 760px;

}

#txt01 {

    font-family: 'Truculenta', sans-serif;

    text-align: justify;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%;

    position: absolute;
    top: 1150px;

}

#tit01 {

    color: black;

    font-family: 'Oswald', sans-serif;
    font-size: 15pt;

    text-transform: uppercase; 

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%; 

    position: absolute;
    top: 1655px;

}

#logo-jocum {

    width: 40px;

    margin-left: 56%;

    position: absolute;
    top: 1667.5px;

}

#linha01 {

    background-color: black;

    width: 1.5px;
    height: 150px;

    margin-left: 4.2%;

    position: absolute;
    top: 1772px;

}

#txt02 {

    font-family: 'Truculenta', sans-serif;

    text-align: justify;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%;

    position: absolute;
    top: 1740px;

}

#img00 {

    width: 250px;

    margin-left: 12%;

    position: absolute;
    top: 2185px;

}

#img01 {

    width: 250px;

    margin-left: 23%;

    position: absolute;
    top: 2390px;

}

#img02 {

    width: 250px;

    margin-left: 12%;

    position: absolute;
    top: 2595px;

}

#txt03 {

    font-family: 'Truculenta', sans-serif;

    text-align: justify;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%;

    position: absolute;
    top: 2790px;

}

#tit02 {

    color: black;

    font-family: 'Oswald', sans-serif;
    font-size: 15pt;

    text-transform: uppercase; 

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%; 
    margin-top: 2300px;

}

#txt04 {

    font-family: 'Truculenta', sans-serif;

    color: black;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%;

    position: absolute;
    top: 3215px;

}

#txt05 {

    font-family: 'Truculenta', sans-serif;

    color: black;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%;

    position: absolute;
    top: 3275px;

}