html {

    font-family: Arial, Helvetica, sans-serif;

}

.fernandonury00 {

    width: 250px;

    margin-left: 4.2%;
    margin-top: 4.2%;

}

.linha {

    background-color: black;

    width: 1.5px;
    height: 150px;

    margin-left: 4.2%;

    position: absolute;
    top: 300px;

}

.tit00 {

    font: 13pt Yu Gothic;

    text-align: justify;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%; 

}

.txt00 {

    font: 10pt Yu Gothic;

    text-align: justify;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%;

}

.fernandonury01 {

    width: 250px;

    width: 80%;

    max-width: 400px;

    margin-left: 11%;

    position: absolute;
    top: 760px;

}

@media screen and (max-width: 360px) {

    .fernandonury01 {

        top: 913px;
    
    }

}

.txt01 {

    font: 10pt Yu Gothic;

    font-size: 10pt;

    text-align: justify;

    max-width: 90%;

    margin-left: 12%;
    margin-right: 5%;

    position: absolute;
    top: 1150px;

}


@media screen and (max-width: 320px) {

    .fernandonury01 {

        top: 990px;
    
    }

    .txt01 {

        top: 1195px;
    
    }

}

@media screen and (max-width: 375px) {

    .fernandonury01 {

        top: 870px;
    
    }

    .txt01 {

        top: 1115px;
    
    }

}

@media screen and (min-width: 414px) {

    .fernandonury01 {

        top: 810px;
    
    }

    .txt01 {

        top: 1090px;
    
    }

}